{% extends 'base.html' %}
{% block content %}
<div class="h-screen bg-black flex items-center justify-center">

    <div class="grid grid-cols-6 gap-2 px-16">

        <!-- Item 1 -->
        <div class="flex flex-col gap-1">

            <!-- Image -->
            <a href="" class="bg-purple-500">
                <img src="https://static-cdn.jtvnw.net/ttv-boxart/516575-285x380.jpg"
                    class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-100" />
            </a>

            <!-- Games Title -->
            <a href="#" class="hover:text-purple-500 text-gray-200 font-semibold"> VALORANT </a>

            <!-- Viewers -->
            <a href="#" class="hover:text-purple-500 text-sm text-gray-400 -mt-1"> 78.4K viewers </a>

            <!-- Category Tags -->
            <div class="flex flex-row flex-wrap gap-2">
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    Shooter </a>
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    FPS </a>
            </div>

        </div>

        <!-- Item 2 -->
        <div class="flex flex-col gap-1">

            <!-- Image -->
            <a href="" class="bg-purple-500">
                <img src="https://static-cdn.jtvnw.net/ttv-boxart/509658-285x380.jpg"
                    class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-100" />
            </a>

            <!-- Games Title -->
            <a href="#" class="hover:text-purple-500 text-gray-200 font-semibold"> Just Chatting </a>

            <!-- Viewers -->
            <a href="#" class="hover:text-purple-500 text-sm text-gray-400 -mt-1"> 236K viewers </a>

            <!-- Category Tags -->
            <div class="flex flex-row flex-wrap gap-2">
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    IRL </a>
            </div>

        </div>

        <!-- Item 3 -->
        <div class="flex flex-col gap-1">

            <!-- Image -->
            <a href="" class="bg-purple-500">
                <img src="https://static-cdn.jtvnw.net/ttv-boxart/512953_IGDB-285x380.jpg"
                    class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-100" />
            </a>

            <!-- Games Title -->
            <a href="#" class="hover:text-purple-500 text-gray-200 font-semibold"> Elden Ring </a>

            <!-- Viewers -->
            <a href="#" class="hover:text-purple-500 text-sm text-gray-400 -mt-1"> 350K viewers </a>

            <!-- Category Tags -->
            <div class="flex flex-row flex-wrap gap-2">
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    RPG </a>
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    Action </a>
            </div>

        </div>

        <!-- Item 4 -->
        <div class="flex flex-col gap-1">

            <!-- Image -->
            <a href="" class="bg-purple-500">
                <img src="https://static-cdn.jtvnw.net/ttv-boxart/511224-285x380.jpg"
                    class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-100" />
            </a>

            <!-- Games Title -->
            <a href="#" class="hover:text-purple-500 text-gray-200 font-semibold"> Apex Legends </a>

            <!-- Viewers -->
            <a href="#" class="hover:text-purple-500 text-sm text-gray-400 -mt-1"> 89.7K viewers </a>

            <!-- Category Tags -->
            <div class="flex flex-row flex-wrap gap-2">
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    FPS </a>
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    Shooter </a>
            </div>

        </div>

        <!-- Item 5 -->
        <div class="flex flex-col gap-1">

            <!-- Image -->
            <a href="" class="bg-purple-500">
                <img src="https://static-cdn.jtvnw.net/ttv-boxart/513181-285x380.jpg"
                    class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-100" />
            </a>

            <!-- Games Title -->
            <a href="#" class="hover:text-purple-500 text-gray-200 font-semibold"> Genshin Impact </a>

            <!-- Viewers -->
            <a href="#" class="hover:text-purple-500 text-sm text-gray-400 -mt-1"> 9K viewers </a>

            <!-- Category Tags -->
            <div class="flex flex-row flex-wrap gap-2">
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    Action </a>
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    RPG </a>
            </div>

        </div>

        <!-- Item 6 -->
        <div class="flex flex-col gap-1">

            <!-- Image -->
            <a href="" class="bg-purple-500">
                <img src="https://static-cdn.jtvnw.net/ttv-boxart/490100-285x380.jpg"
                    class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-100" />
            </a>

            <!-- Games Title -->
            <a href="#" class="hover:text-purple-500 text-gray-200 font-semibold"> Lost Ark </a>

            <!-- Viewers -->
            <a href="#" class="hover:text-purple-500 text-sm text-gray-400 -mt-1"> 199K viewers </a>

            <!-- Category Tags -->
            <div class="flex flex-row flex-wrap gap-2">
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    RPG </a>
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    Action </a>
                <a href="#"
                    class="hover:bg-gray-600 text-gray-300 text-xs font-semibold bg-gray-700 px-2 py-1 rounded-full">
                    MMO </a>
            </div>

        </div>

    </div>

</div>

{% endblock content %}